.App-searchPage {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
}

form button {
  justify-self: center;
  margin-left: 0.3rem;
}

input:focus {
  box-shadow: 0 0 10px var(--accentGrey);
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 30rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--accentTurquoise);
  font-weight: 300;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 30rem;
  border: 1px solid var(--accentGrey);
  border-radius: 1rem;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.App {
  min-height: 100vh;
  margin-left: 20vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 0;
}