.App {
  text-align: center;
}

.App-cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  margin-left: 20vw;
}

.App-pdfViewer {
  margin-left: 20vw;
}