table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid var(--accentTurquoise);
}

th, td {
  padding: 1.5rem;
}

th {
  background-color: var(--sidebar);
  letter-spacing: 0.5px;
}

tr {
  border-bottom: 1px solid lightgray;
}

tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}